-# %p#notice= notice
= @post.title
%br/
= @post.text
%br/
= link_to 'Edit', edit_post_path(@post)
|
\#{link_to 'Back', posts_path}

/ Comment Form
= form_with(model: [@post, Comment.new]) do |form|
  .field
    = form.label :commenter
    = form.text_field :commenter
  .field
    = form.label :body
    = form.text_area :body
  .actions
    = form.submit 'Add Comment'

/ List of Comments
%h2 Comments
%ul
  = render @post.comments
